@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgba(255, 255, 255, 0.445);
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #A79277;
    align-items: center;
    padding: 15px;
    font-size: 20px;
}

.fa-solid,
.fas {
    font-weight: 900px;
}

.logo {
    width: 55px;
}

li {
    float: right;
}

li a,
.dropdownbtn {
    display: flex;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropdownbtn {
    color: #D1BB9E;
    transition: all 0.3s;
}

li.dropdown {
    display: inline-block;
}

.dropdownmenu {
    display: none;
    position: absolute;
    background: #A79277;
    min-width: 180px;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdownmenu a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdownmenu a:hover {
    background-color: #b3c8cf54;
    border-radius: 10px;
}

.dropdown:hover .dropdownmenu {
    display: block;
}

/*Welcome to hell!*/

.thing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/08202325155836_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.thing2 {
    position: absolute;
    text-align: center;
    width: 50%;
    top: 40%;
}

.thing2 h1 {
    text-align: center;
    font-size: 120px;
    float: left;
    padding: 5px 30px;
    margin-bottom: 10px;
    font-family: "Noto Serif", serif;
}

.container {
    margin: 10px;
    display: flex;
    padding: 10px 30px;
}

.text {
    margin-bottom: 10px;
    display: flex;
}

.plshelp {
    text-align: left;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    padding: 20px 30px;
}

.lading {
    float: left;
    width: 100%;
    list-style-type: none;
    overflow: auto;
}

.lading img {
    width: 20%;
    height: auto;
    cursor: pointer;
}

.destinations {
    width: 33%;
}

.korea {
    padding: 10px;
}

.korea img {
    width: 550px;
    height: 520px;
    border-radius: 8px;
    opacity: 0.4;
}

.korea img:hover {
    opacity: 1.0;
}

.thailand {
    padding: 10px;
}

.thailand img {
    display: block;
    width: 550px;
    height: 520px;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.4;
}

.thailand img:hover {
    opacity: 1.0;
}

.japan {
    padding: 10px;
}

.japan img {
    display: block;
    width: 550px;
    height: 520px;
    border-radius: 8px;
    margin-right: auto;
    margin-left: 10px;
    opacity: 0.4;
}

.japan img:hover {
    opacity: 1.0;
}

.footer {
    background-color: rgb(43, 43, 43);
    color: white;
    float: left;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.footcontainer {
    display: flex;
    flex-direction:column ;
    float: left;
    padding-bottom: 20px;
    overflow: hidden;
}

.footcontainer h2{
    margin-bottom: 2px;
    color: #ff1e00;
    width: auto;
    float: left;
    display: flex;
    padding: 20px 40px;
    font-size:30px ;
}

.footcontainer a{
    color:aqua;
    font-size: 20px;
}

.container1 li {
    list-style-type: none;
    width: auto;
    float: left;
    padding-left: 35px;
    padding-right: 13px;
    padding-bottom: 0.5px;
    line-height: 15px;
    font-size: 10px;
}

@media screen and (max-width: 720px) {
    .footer {
        height: 50vh;
    }
}

@media screen and (max-width: 1150px){
    .footer {
        padding-top: 2rem;
    }
}