@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

body,
ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.logo{
    width: 55px;
}

.topnav {
    overflow: auto;
    height: 80px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    background-color: #ecb975;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    
}

.topnav li {
    float: left;
    padding: 14px;
}

.topnav a {
    color: rgb(153, 0, 255);
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 25px;
}

.topnav a:hover {
    text-decoration: underline;
    color: rgb(255, 204, 169);
}

.middlerow{
    background-color: rgb(253, 138, 138);
    padding: 100px;
    height: 600px;
    text-align: left;
    font-size: 50px;
    background-image: url(images/40c09cf488cd4c575b5fb58e942fd581.jpg);
    background-repeat: no-repeat;
    background-position: center;
}