@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fffcfc;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #A79277;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    z-index: 10001;
}

.fa-solid,
.fas {
    font-weight: 900px;
}

.slayqueen:hover {
    transform: rotate(180deg);
}

.logo {
    width: 75px;
}

li {
    float: right;
}

li a,
.dropdownbtn {
    display: flex;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.navbar li a:hover,
.dropdown:hover .dropdownbtn {
    background-color: #86572bb6;
    border-radius: 10px;
    color: #ffffff;
}

.slayqueen:hover {
    transform: rotate(360deg);
    transition: 0.3s;
}

li.dropdown {
    display: inline-block;
}

.dropdownmenu {
    display: none;
    position: absolute;
    background: #A79277;
    min-width: 180px;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdownmenu a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdownmenu a:hover {
    background-color: #b3c8cf54;
    border-radius: 10px;
}

.dropdown:hover .dropdownmenu {
    display: block;
}

#menu-icon {
    width: 35px;
    height: 5px;
    background-color: rgb(36, 248, 255);
    margin: 6px 0;
    display: none;
    z-index: 10000;
    cursor: pointer;
}

/*Marquee*/

.contact h2 {
    color: #A79277;
    font-size: 50px;
    font-family: "Playfair Display", serif;
}

.contact hr {
    right: 10%;
}

label {
    display: block;
    margin: 10px;
    text-align: left;
}

input {
    width: 955px;
    height: 40px;
    border-radius: 10px;
    border-color: rgb(38, 96, 255);
    padding: 14px 20px;
}